body {
  background-color: lightblue;
}
h1 {
  color: purple;
  font-family: arial;
}
p {
  color: white;
  font-family: arial;
}
a {
  color: purple;
  font-family: arial;
}
a:hover {
  color: lightred;
}
